{% extends "base.html.twig" %}

{% block title %}Création d'une annonce
{% endblock %}

{% block body %}

	<div class "container">

    <h1>Créer une nouvelle annonce</h1><br>
    {{ form_start(form) }}

    {{ form_widget(form) }}<br>

    <button type="submit" class="btn btn-primary">Je créé mon annonce !</button>

    {{ form_end(form) }}
    </div>
{% endblock %}
