    body,
    html {
        margin: 0;
        padding: 0;
    }

    .navbar {
        box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.25);
    }

    .navbar-brand {
        margin-right: 0 !important;
    }

    .mini-avatar {
        border-radius: 50%;
        max-width: 35px;
        max-height: 35px;
    }

    .profil-rental-name {
        text-decoration: none;
    }

    .avatar {
        border-radius: 50%;
    }

    .img-appart {
        height: 200px;
        width: 100%;
        display: block
    }

    .fixed-top {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    div.rental-title {
        padding: 2em;
        background-size: cover;
    }

    div.rental-title h1,
    div.rental-title p {
        color: white;
        text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
    }

    div.carousel-caption {
        text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
    }

    @media (min-width: 992px) {
        .navbar-expand-lg .navbar-nav .nav-link {
            padding-left: .9rem !important;
        }

        .ident {
            margin-right: 95px !important;
        }
    }